<div>
    <h2 style="text-align: center;">Darke's Inventory Manager</h2>
    <p>Built By:</p>
    <a href="https://github.com/DarkeFae/" target="_blank"><img src="/assets/pfp.webp" alt="DarkeFae (Ollie)" title="DarkeFae (Ollie) on GitHub" style="width: 512px; height: 512px;"></a>
</div>